.character {
  width: 100vw;
  height: 100%;
  background-color: #333333;
  position: fixed;
  z-index: 100;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 200;
}

a {
  text-decoration: none;
}

.close > a > fa-icon {
  font-size: 2rem;
  color: #f78f3f;
}
.close > a > fa-icon:hover {
  font-size: 2rem;
  color: #e23636;
}

.character-container {
  width: 80%;
  height: 100%;
  padding: 0.5rem;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.head > img {
  margin-bottom: 0.9rem;
  box-sizing: border-box;
  border: #518cca 6px solid;
  width: 40%;
}

.head > h1 {
  font-size: 2rem;
  color: #f78f3f;
  font-family: "Bebas Neue", cursive;
}

.head > h3 {
  font-size: 0.7rem;
  text-align: justify;
}

.header {
  font-size: 0.9rem;
  text-transform: uppercase;
}

.comics {
  display: flex;
  flex-direction: column;
}

.comics > span {
  font-size: 0.7rem;
}

@media (min-width: 481px) {
  .head > h1 {
    font-size: 3rem;
  }
  .head > h3 {
    font-size: 1rem;
  }
  .header {
    font-size: 1.3rem;
  }
  .comics > span {
    font-size: 1rem;
  }
  .head > img {
    width: 35%;
  }
}
@media (min-width: 769px) {
  .head > h1 {
    font-size: 3.5rem;
  }
  .head > h3 {
    font-size: 1.1rem;
  }
  .header {
    font-size: 1.1rem;
  }
  .comics > span {
    font-size: 1rem;
  }
  .head > img {
    width: 25%;
  }
}
@media (min-width: 1024px) {
  .head > h1 {
    font-size: 4rem;
  }
  .head > h3 {
    font-size: 1.2rem;
  }
  .header {
    font-size: 1.2rem;
  }
  .comics > span {
    font-size: 1.1rem;
  }
  .head > img {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .head > h1 {
    font-size: 4rem;
  }
  .head > h3 {
    font-size: 1.2rem;
  }
  .header {
    font-size: 1.2rem;
  }
  .comics > span {
    font-size: 1rem;
  }
  .head > img {
    width: 15%;
  }
}
